---
layout: default
title: Home
---


<div class="tags clearfix">
  <div class="tag-btn" id="vis">Visualization</div>
  <div class="tag-btn" id="ue">Unreal Engine</div>
</div>

<div class="catalogue clearfix">
  {% for project in site.projects %}
    <a href="{{ project.url }}" title="{{ project.title }}" class="catalogue-item {{ project.tags | join:' ' }}">
      <div>
        <h1 class="catalogue-title">{{ project.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ project.content | truncate: 230 | strip_html }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>
<!--
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.url }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div> -->
