---
layout: default
title: Home
---

<div class="catalogue clearfix">
  {% for project in site.projects %}
    <a href="{{ project.url | prepend: site.url }}" class="catalogue-item">
      <div>
        <h1 class="catalogue-title">{{ project.title }}</h1>
        <div class="catalogue-line"></div>

        <p>
          {{ project.content | truncate: 250 | strip_html }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>
<!--
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.url }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div> -->
