---
layout: default
title: Home
---

<div class="tags clearfix">
  <span class="tag-btn" id="gd">Game Development</span>
  <span class="tag-btn" id="cpp">C++</span>
  <span class="tag-btn" id="vis">Visualization</span>
  <span class="tag-btn" id="ue">Unreal Engine</span>
  <span class="tag-btn" id="ai">AI</span>
</div>

<div class="catalogue clearfix">
  {% for project in site.projects %}
    <a href="{{ project.url }}" title="{{ project.title }}" class="catalogue-item {{ project.tags | join:' ' }}">
      <div>
        <div class="catalogue-img">{% include image.html path="project-covers" name=project.logo %}</div>
        <h1 class="catalogue-title">{{ project.title }}</h1>

        <p>
          {{ project.summary }}
        </p>

      </div>
    </a>
  {% endfor %}
</div>
<!--
<div class="pagination">
  {% if paginator.previous_page %}
    <a href="{{ paginator.previous_page_path | prepend: site.url }}" class="left arrow">&#8592;</a>
  {% endif %}
  {% if paginator.next_page %}
    <a href="{{ paginator.next_page_path | prepend: site.url }}" class="right arrow">&#8594;</a>
  {% endif %}

  <span>{{ paginator.page }}</span>
</div> -->
