.catalogue {
  &-item {
    font-size: 90%;
    color: $default-shade;
    display: inline-block;
    background-color: $lighter-grey;
    margin: 2%;
    border-radius: $border-radius;

    &:hover, &:focus{ 
      background-color: rgba(50,255,180, 0.7);
      /* background-color: rgba(11,190,179, 0.7); */
      /* background-color: rgba(62,231,173, 0.8); */
      color: $default-color;
    }
    &:hover .catalogue-line,
    &:focus .catalogue-line {
      width: 5rem;
    }
    &:hover .catalogue-img,
    &:focus .catalogue-img {
      opacity: 1;
    }

    p {
      text-align: justify;
    }

    div {
      max-height: 100%
    }
  }

  &-img {
    max-height: 270px;
    overflow: hidden;
    opacity: 0.8;
    border-top-left-radius: $border-radius;
    border-top-right-radius: $border-radius;

    img {
      width: 100%;
    }
  }

  &-time {
    color: $default-color;
    letter-spacing: .5px;
  }

  &-title {
    color: $default-color;
    display: block;
    font-size: 1.5rem;
    font-weight: 700;
    margin: .5rem 0;
  }

  &-text {
    margin: 0 1rem;
  }

  &-line {
    @include transition(all .3s ease-out);
    border-top: .2rem solid $default-shade;
    display: block;
    width: 2rem;
  }
}

.tags{
  margin-top: 2%;
  text-align: center;

  .tag-btn {
    padding: 1%;
    margin: 0 1%;
    cursor: pointer;
    background: $lighter-grey;
    opacity: 0.7;

    &.active {
      color: $default-accent;
      opacity: 1;
    }
  }
}

@media (min-width: 600px) {
  .catalogue {
    &-item {
      width: 29%;
      height: 450px;
      float: left;
    }
  }

  .tags .tag-btn {
    margin: 0 .5%;
  }
}