$default-color: #fff;
$default-shade: #C8C5BF;
$default-tint: #fff;
$default-accent: #32FFB4;
$grey-1: #C8C5BF;
$grey-2: #e5e5e5;
$grey-3: #f9f9f9;
$lighter-grey: #292a2c;
$dark-grey: #1b1b1b;
$white: #fff;
$blue: #4a9ae1;
$orange: #ff9800;
$shadow-color: rgba(0, 0, 0, .2);

$border-radius: 5px;

$lato:      'Lato', Helvetica, sans-serif;
$titillium: 'Titillium Web', Helvetica, sans-serif;
$baskerville: 'Libre Baskerville', 'Times New Roman', Times, serif;
$palatino: Palatino, 'Palatino LT STD', 'Palatino Linotype', 'Book Antiqua', 'Georgia', serif;
$sans-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;

$monospaced-font: Menlo, Monaco, monospace;
$code-color: #bf616a;

@mixin box-sizing($type: border-box) {
  -webkit-box-sizing: $type;
     -moz-box-sizing: $type;
          box-sizing: $type;
}

@mixin transition($args...) {
  -webkit-transition: $args;
     -moz-transition: $args;
          transition: $args;
}
