<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container clearfix">
        <div class="left">
          <a href="/">
            <img class="logo" src="/assets/images/nilayk_logo_white.png">
          </a>
          <h5 class="nav-description">Programmer, Gamer, Tolkien fan.
            <br>Ventured into Stockholm to be a Game Developer
          </h5>
        </div>
        <ul class="inline-list" aria-label="Contact information">
          <!--<li><a class="icon fa-envelope" href="mailto:nilaya@kth.se">nilaya@kth.se</a></li>-->
          <li><a class="icon fa-linkedin" href="https://linkedin.com/in/nilayka">LinkedIn</a></li>
          <li><a class="icon fa-github" href="https://github.com/eowyn36">GitHub</a></li>
          <li><p></p></li>
          <li><a class="icon fa-envelope" href="/about-me">About Me</a></li>
        </ul>
      </div>
    </nav>

    <main>
      {{ content }}
    </main>
    
    {% include foot.html %}
  </body>
</html>
