<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>
    <nav class="nav">
      <div class="nav-container">
        <a href="{{ site.baseurl }}/">
          <h2 class="nav-title">{{ site.title }}</h2>
        </a>
        <h5 class="nav-description">Programmer, Gamer, Tolkien fan.
          <br>Ventured into Stockholm to be a Game Developer
        </h5>
        <ul class="inline-list" aria-label="Contact information">
          <li><a class="icon fa-envelope" href="mailto:nilaya@kth.com">nilaya@kth.com</a></li>
          <li><a class="icon fa-linkedin" href="https://linkedin.com/in/nilayka">LinkedIn</a></li>
          <li><a class="icon fa-phone" href="tel:+46768812744">+46 728762581</a></li>
        </ul>
    </div>
  </nav>

    <main>
      {{ content }}
    </main>

    <footer>
      <span>
        &copy; <time datetime="{{ site.time }}">{{ site.time | date: '%Y' }}</time> {{ site.author.name }}.
      </span>
    </footer>
  </body>
</html>
